@use '../scss/style.scss';

.AddWork{

    .subTitle{
        margin-bottom: 20px;
    }

    select{
        height: 30px;
        border: 1px solid style.$orange;
        border-radius: 5px;
    }
    
    button{
        background-color: style.$light-salmon;
        border-color: style.$orange;
        padding-top: 0;
        padding-bottom: 0;

        &:hover{
            background-color: style.$light-salmon;
        }
    }

    section{
        background-color: #fff;
        border-radius: 10px;
        // border: 2px solid style.$salmon;
    }

    .list{
        background-color: style.$light-orange;
    }

    .WorkList{
        width: 100%;
        height: 100%;
    }
}