@use '../scss/style.scss';

.Contact{
    .subTitle{
        margin-bottom: 20px;
    }
    button{
        background-color: style.$orange;
        color: #fff;
        white-space: nowrap;
        &:hover{
            background-color: style.$orange;
            color: #fff;
        }
    }
}