@use '../scss/style.scss';

.Contact{
    .subTitle{
        margin-bottom: 20px;
    }
    button{
        background-color: style.$orange;
        color: #fff;
        white-space: nowrap;
        &:hover{
            background-color: style.$dark-purple;
            color: #fff;
        }
    }

    .th{
        height: 40px;
        background-color: style.$orange;
        color: #fff;
    }
    .td{
        height: 40px;
        background-color: #fff;
    }
    .td:nth-of-type(2n){
        background-color: style.$light-orange;
    }
}