@use '/src/scss/style.scss';

.TotalChart{
    .subTitle{
        margin-bottom: 20px;
    }

    button{
        background-color: #ffa699;
        border-color: #ff7f3e;
        padding-top: 0;
        padding-bottom: 0;

        &:hover{
            background-color: #ffa699;
            border-color: #ff7f3e;
        }
    }

    .chartArea{
        background-color: #fff;
        border:2px solid style.$orange;
        padding:10px;
        box-sizing: border-box;
        border-radius: 5px;

        div{
            border-color: style.$dark-purple !important;
        }
        .ps{
            font-size: 14px;
            color: style.$dark-gray;
        }
    }
}