@use '/src/scss/style.scss';

body:has(.CategoryWork){
    // overflow: hidden;
}
.CategoryWork{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;

    position: absolute;
    top: 5px;

    button{
        border: 1px solid style.$orange;
        background-color: #fff;
        border-radius: 0;
        flex: 1;
        height: 35px;
    }
    button.active{
        background-color: style.$orange;
        color: #fff;
    }
}